@import 'colors.styl'
apply-btn-color(main-color)
  background-color main-color
  color darken(main-color, 75%)

  &:hover
    background-color darken(main-color, 75%)
    color main-color
    cursor pointer

  &:active
    background-color darken(main-color, 60%)
    color darken(main-color, 90%)

  &:disabled
    background-color lighten(main-color, 20%)
    color darken(main-color, 40%)
    cursor not-allowed

button
  display flex
  flex-direction row
  justify-content center
  align-items center
  padding 1rem
  outline none
  border none
  border-radius 6px
  apply-btn-color(cyan)
  transition color 250ms ease-out, background-color 250ms ease-out

  svg
    margin-right 0.3em
    width 1em
    height 1em
button.warn
  apply-btn-color(red)

button.refresh
  apply-btn-color(green)

button.info
  apply-btn-color(blue)
