cyan = #73daca
gray = #1a1b26
black = #16161e
blue = #79a1f6
red = #f7768e
purple = #9d7cd8
green = #9ece6a
yellow = #e0af68
white = #a9b1d6

color-contrast(main-color)
  background-color main-color
  color darken(main-color, 75%)

color-contrast-reverse(main-color)
  color main-color
  background-color darken(main-color, 75%)

.info
  color-contrast(blue)
